<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Education - List of Meetings</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../assets/css/fontawesome.css">
    <link rel="stylesheet" href="../assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="../assets/css/owl.css">
    <link rel="stylesheet" href="../assets/css/lightbox.css">
    <link rel="stylesheet" href="../assets/css/style.ge.css">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>

<div class="container col-lg-12 mt-5 text-center">
  <div class="presentation1">
    <img class="col-lg-6 mt-5 img-fluid" src="../assets/images/accompagnement.jpg" alt="Présentation de la MLSG">
  </div>
  <h2 id="accomapgnement" class="mt-2 border-bottom p-3">Accompagnement </h2>
  <p id="qui" class="mt-4 mb-5">
    Nous accompagnons chacun dans sa recherche de sens et d’orientation, avec écoute, outils adaptés et bienveillance. Ensemble, traçons une voie qui vous ressemble.
  </p>
</div>
  <div class="container">
    <!-- Box 1 -->
    <div class="service-box">
        <div class="service-content">
            <div class="service-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <h3 class="service-title">COACHING EMPLOI/FORMATION</h3>
            <img class="w-75 img-fluid mb-4" src="../assets/images/coaching.jpg" alt="Présentation de la MLSG"
            <p class="service-text">
              Semons des graines ensemble pour votre futur 
              Semons des graines ensemble pour votre futur via une aide sur mesure pour décrocher un emploi, entrer en formation, reprendre des études et déterminer votre projet professionnel. Des outils pour votre recherche d’emploi : CV, lettre de motivation, recherche d’offres et de formations, préparation aux entretiens d’embauche, etc. Plus d’infos ci-dessous. Contact : 02/542.63.21 ou 0476/68.07.93 contact@mlsg.be
            </p>
            <a href="https://mlsg.be/accompagnement-vers-l-emploi/coaching-emploi-formation.html" class="btn">En savoir plus</a>
        </div>
    </div>
    <!-- Box 2 -->
    <div class="service-box">
        <div class="service-content">
            <div class="service-icon">
                <i class="fas fa-laptop-code"></i>
            </div>
            <h3 class="service-title">ESPACE PUBLIC NUMÉRIQUE</h3>
            <img class="w-75 img-fluid mb-4" src="../assets/images/numerique.jpg" alt="Présentation de la MLSG"
            <p class="service-text">
              Mise à disposition d’un espace équipé pour votre recherche d’emploi et de formation. Sous la supervision d’un.e agent.e d’accueil, accès gratuit à 16 ordinateurs, une connexion internet, une imprimante, des enveloppes et des timbres pour accomplir toutes vos démarches de recherche d’emploi ou de formation.
            </p>
            <a href="#" class="btn">En savoir plus</a>
        </div>
    </div>
    <!-- Box 3 -->
    <div class="service-box">
        <div class="service-content">
            <div class="service-icon">
                <i class="fas fa-store"></i>
            </div>
            <h5 class="service-title">LA BEF : LA BOUTIQUE EMPLOI FORMATION DE SAINT-GILLES</h5>
            <img class="w-50 img-fluid mb-4" src="../assets/images/bef.png" alt="Présentation de la MLSG"
            <p class="service-text">
              Une antenne pour aider les chercheur.euse.s d’emplo
              Aide à la recherche d’un emploi ou d’une formation, accompagnement dans votre parcours d’insertion sociale et de formation (CV, démarches administratives) et bien plus encore.
            </p>
            <a href="#" class="btn">En savoir plus</a>
        </div>
    </div>
</div>
<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/isotope.min.js"></script>
<script src="../assets/js/owl-carousel.js"></script>
<script src="../assets/js/lightbox.js"></script>
<script src="../assets/js/tabs.js"></script>
<script src="../assets/js/isotope.js"></script>
<script src="../assets/js/video.js"></script>
<script src="../assets/js/slick-slider.js"></script>
<script src="../assets/js/custom.js"></script>
<script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');
    var showSection = function showSection(section, isAnimate) {
      var
      direction = section.replace(/#/, ''),
      reqSection = $('.section').filter('[data-section="' + direction + '"]'),
      reqSectionPos = reqSection.offset().top - 0;
      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos },
        800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }
    };
    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
        $this = $(this),
        topEdge = $this.offset().top - 80,
        bottomEdge = topEdge + $this.height(),
        wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
          currentId = $this.data('section'),
          reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
          siblings().removeClass('active');
        }
      });
    };
    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });
    $(window).scroll(function () {
      checkSection();
    });
</script>
<script>
    // Animation supplémentaire au clic sur les boutons
    document.querySelectorAll('.btn').forEach(button => {
        button.addEventListener('click', function(e) {
            e.preventDefault();
            this.innerHTML = 'Chargement... <i class="fas fa-spinner fa-spin"></i>';
            setTimeout(() => {
                this.innerHTML = 'En savoir plus';
                alert('Page de détail en cours de développement');
            }, 1500);
        });
    })
    // Effet supplémentaire au survol des boîtes
    document.querySelectorAll('.service-box').forEach(box => {
        box.addEventListener('mouseenter', function() {
            this.style.borderColor = 'rgb(0, 140, 130)';
        });
        
        box.addEventListener('mouseleave', function() {
            this.style.borderColor = 'rgb(0, 168, 159)';
        });
    });
</script>
</body>
</html>


