<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Mission Locale Saint-Gilles - Contact</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../assets/css/fontawesome.css">
    <link rel="stylesheet" href="../assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="../assets/css/owl.css">
    <link rel="stylesheet" href="../assets/css/lightbox.css">
    <link rel="stylesheet" href="../assets/css/style.sam.css">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!--

    TemplateMo 569 Edu Meeting

    https://templatemo.com/tm-569-edu-meeting

    -->
</head>

<body class="pt-5">
<!-- Navbar -->



<!-- Formulaire de contact -->
<div class="container border border-3 border-prune rounded my-5 mx-auto bg-light shadow-lg">
    <div class="row justify-content-center rounded mb-3">
        <!-- Colonne gauche : Coordonnées/Infos Mission Locale -->
        <div class="col-12 col-lg-6 contact-block d-flex flex-column justify-content-center align-items-center text-center position-relative py-5 order-2 order-lg-1">
            <h3 class="mb-1 anim-form">📞 Appelez-nous</h3>
            <p class="text-turq-ml fw-bold mb-3 anim-form">
                Tel: 02 542 63 21<br>
                GSM: 0476/68.07.93
            </p>
            <h3 class="mb-1 anim-form">✉️ Support général</h3>
            <p id="mail" class="text-turq-ml fw-bold mb-3 anim-form">contact@mlsg.be</p>
            <h3 class="mb-1 anim-form">⏰ Horaires d'ouvertures</h3>
            <p class="text-turq-ml fw-bold mb-3 anim-form">
                Tous les jours de 8h30h à 12h00 et de 13h00 à 16h00.<br>
                Fermé le mercredi toute la journée.
            </p>
            <h3 class="mb-1 anim-form">📍 Adresse</h3>
            <p id="adresse" class="text-turq-ml fw-bold mb-3 anim-form">Chaussée de Waterloo 255 (2e étage) - 1060 Saint-Gilles</p>
            <h3 class="mb-1 anim-form">🚌 Accessibilité</h3>
            <p class="text-turq-ml fw-bold mb-3 anim-form">
                Accès STIB : Tram 3, 4 et 51 (arrêt Horta)<br>
                Tram 81, 92 et 97 (arrêts Moris ou Lombardie)<br>
                Bus 48 (Barrière) – Bus 54 (arrêt Ma Campagne)
            </p>
        </div>

        <!-- Colonne droite : Formulaire de contact -->
        <div class="col-12 col-lg-6 py-5 order-1 order-lg-2">
            <h3 class="text-center my-2 anim-form-title">Contactez la Mission Locale</h3>
            <p class="text-center mb-3 anim-form-text">Remplissez ce formulaire et nous vous recontacterons dans les plus brefs délais.</p>
            <div class="verifMessage px-3 text-center my-1">
                <div id="verifEmail"></div>
                <div id="verifTel"></div>
                <div id="succes"></div>
            </div>

            <form class="mx-auto">
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="prenom" class="form-label anim-formulaire">Prénom</label>
                        <input type="text" class="form-control anim-formulaire" id="prenom" placeholder="Votre prénom" required>
                    </div>

                    <div class="col-sm-6 mb-3">
                        <label for="nom" class="form-label anim-formulaire">Nom</label>
                        <input type="text" class="form-control anim-formulaire" id="nom" placeholder="Votre nom" required>
                    </div>
                </div>

                <div class="mb-3 anim-formulaire">
                    <label for="email" class="form-label">Adresse e-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="exemple@email.com" required>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-6">
                        <label for="telephone" class="form-label anim-formulaire">Téléphone</label>
                        <input type="text" class="form-control anim-formulaire" id="telephone" placeholder="04 00 00 00 00" required>
                    </div>
                    <div class="col-sm-6 anim-formulaire">
                        <label for="codepostal" class="form-label">Code postal</label>
                        <input type="text" class="form-control" id="codepostal" placeholder="0000" required>
                    </div>
                </div>

                <div class="mb-3 anim-formulaire">
                    <label for="select" class="form-label">Type de demande</label>
                    <select id="select" name="sujet" class="form-select">
                        <option selected>Sélectionnez une option</option>
                        <option value="orientation">Orientation professionnelle</option>
                        <option value="formation">Demande de formation</option>
                        <option value="emploi">Recherche d'emploi</option>
                        <option value="partenaire">Partenaire entreprise</option>
                        <option value="autre">Autre demande</option>
                    </select>

                </div>

                <div class="mb-3 anim-formulaire">
                    <label for="message" class="form-label">Votre message</label>
                    <textarea class="form-control" id="message" rows="5" placeholder="Expliquez votre demande..." required></textarea>
                </div>

                <div class="text-center anim-formulaire">
                    <button type="submit" class="btn btn-turq-ml w-50">Envoyer le message</button>
                </div>
                <div class="d-lg-none"><hr></div>
            </form>
        </div>
    </div>
    <div class="d-lg-none"><hr></div>
    <div class="mb-3 text-center">
        <h3>Notre antenne à Saint-Gilles</h3>
    </div>
    <!-- Carte interactive -->
    <div class="mb-3">
        <div id="map" class="rounded" style="width: 100%; height: 400px;"></div>
    </div>
</div>

<!-- FOOTER -->


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/js/isotope.min.js"></script>
<script src="../assets/js/owl-carousel.js"></script>
<script src="../assets/js/lightbox.js"></script>
<script src="../assets/js/tabs.js"></script>
<script src="../assets/js/video.js"></script>
<script src="../assets/js/slick-slider.js"></script>
<script>
    $(document).ready(function() {

        // Leaflet
        let coords = [50.8247416, 4.3489723];
        let map = L.map('map').setView(coords, 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        let marker = L.marker(coords).addTo(map)
            .bindPopup('<strong>Chaussée de Waterloo 255 - 1060 Saint-Gilles</strong>');

        $('#adresse').on('click', function () {
            let $mapDiv = $('#map');
            if ($mapDiv.length) {
                $mapDiv[0].scrollIntoView({ behavior: 'smooth', block: 'center' });
                map.flyTo(coords, 18, {
                    animate: true,
                    duration: 1.8
                });
                marker.openPopup();
            }
        });

        // Animation du click pour le mail
        $('#mail').on('click', function() {
            window.location.href = 'mailto:Sdarryy59@gmail.com';
        });

        // On cache les infos
        $('.anim-form').css({opacity: 0, left: '-50px', position: 'relative'});
        $('.anim-formulaire').css({opacity: 0, top: '50px', position: 'relative'});


        // Animation du formulaire
        $('.anim-formulaire').each(function(index) {
            setTimeout(() => {
                $(this).animate({opacity: 1, top: '0px'}, 1000);
            }, 400 + index * 100);
        });

        // Animation des coordonnées
        $('.anim-form').each(function(index) {
            setTimeout(() => {
                $(this).animate({opacity: 1, left: '0px'}, 1000);
            }, index * 100);
        });

    });
</script>
</body>
</html>