<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Mission Locale Saint-Gilles - Contact</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../assets/css/fontawesome.css">
    <link rel="stylesheet" href="../assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="../assets/css/owl.css">
    <link rel="stylesheet" href="../assets/css/lightbox.css">
    <link rel="stylesheet" href="../assets/css/style.sam.css">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!--

    TemplateMo 569 Edu Meeting

    https://templatemo.com/tm-569-edu-meeting

    -->
</head>

<body class="pt-5">
<!-- Navbar -->



<!-- Formulaire de contact -->
<div class="container border border-3 border-prune rounded my-5 mx-auto bg-light shadow-lg">
    <div class="row justify-content-center rounded mb-3">

        <!-- Colonne gauche : Coordonnées/Infos Mission Locale -->
        <div class="col-md-6 contact-block d-flex flex-column justify-content-center align-items-center text-center position-relative py-5">
            <h3>📞 Appelez-nous</h3>
            <p class="text-turq-ml fw-bold mb-3">
                Tel: 02 542 63 21<br>
                GSM: 0476/68.07.93
            </p>
            <h3>✉️ Support général</h3>
            <p class="text-turq-ml fw-bold mb-3">contact@mlsg.be</p>
            <h3>⏰ Horaires d'ouvertures</h3>
            <p class="text-turq-ml fw-bold mb-3">
                Tous les jours de 8h30h à 12h00 et de 13h00 à 16h00.<br>
                Fermé le mercredi toute la journée.
            </p>
            <h3>📍 Adresse</h3>
            <p class="text-turq-ml fw-bold mb-3">Chaussée de Waterloo 255 (2e étage) - 1060 Saint-Gilles</p>
            <h3>🚌 Accèssibilité</h3>
            <p class="text-turq-ml fw-bold mb-3">
                Accès STIB : Tram 3, 4 et 51 (arrêt Horta)<br>
                Tram 81, 92 et 97 (arrêts Moris ou Lombardie)<br>
                Bus 48 (Barrière) – Bus 54 (arrêt Ma Campagne)
            </p>
        </div>

        <div class="d-md-none"><hr></div>
        <!-- Colonne droite : Formulaire de contact -->
        <div class="col-md-6 py-5">
            <h3 class="text-center my-3">Contactez la Mission Locale</h3>
            <div class="verifMessage px-3 text-center my-1">
                <div id="verifEmail"></div>
                <div id="verifTel"></div>
                <div id="succes"></div>
            </div>

            <form class="mx-auto">
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="prenom" class="form-label">Prénom</label>
                        <input type="text" class="form-control" id="prenom" placeholder="Votre prénom" required>
                    </div>

                    <div class="col-sm-6 mb-3">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="nom" placeholder="Votre nom" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Adresse e-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="exemple@email.com" required>
                </div>

                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="telephone" class="form-label">Téléphone</label>
                        <input type="text" class="form-control" id="telephone" placeholder="04 00 00 00 00" required>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="codepostal" class="form-label">Code postal</label>
                        <input type="text" class="form-control" id="codepostal" placeholder="0000" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="sujet" class="form-label">Sujet</label>
                    <input type="text" class="form-control" id="sujet" placeholder="Votre sujet" required>
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label">Votre message</label>
                    <textarea class="form-control" id="message" rows="5" placeholder="Expliquez votre demande..." required></textarea>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-turq-ml w-50">Envoyer le message</button>
                </div>
            </form>
        </div>
    </div>
    <div class="d-md-none"><hr></div>
    <div class="mb-3 text-center">
        <h3>Notre antenne à Saint-Gilles</h3>
    </div>
    <!-- Carte interactive -->
    <div class="mb-3">
        <div id="map" class="rounded" style="width: 100%; height: 400px;"></div>
    </div>
</div>

<!-- FOOTER -->


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="../assets/js/isotope.min.js"></script>
<script src="../assets/js/owl-carousel.js"></script>
<script src="../assets/js/lightbox.js"></script>
<script src="../assets/js/tabs.js"></script>
<script src="../assets/js/video.js"></script>
<script src="../assets/js/slick-slider.js"></script>
<script src="../assets/js/custom.js"></script>
<script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
        var
            direction = section.replace(/#/, ''),
            reqSection = $('.section').filter('[data-section="' + direction + '"]'),
            reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
            $('body, html').animate({
                    scrollTop: reqSectionPos },
                800);
        } else {
            $('body, html').scrollTop(reqSectionPos);
        }

    };

    var checkSection = function checkSection() {
        $('.section').each(function () {
            var
                $this = $(this),
                topEdge = $this.offset().top - 80,
                bottomEdge = topEdge + $this.height(),
                wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
                var
                    currentId = $this.data('section'),
                    reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                reqLink.closest('li').addClass('active').
                siblings().removeClass('active');
            }
        });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        e.preventDefault();
        showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
        checkSection();
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var map = L.map('map').setView([50.8247416, 4.3489723], 18);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        L.marker([50.8247416, 4.3489723]).addTo(map)
            .bindPopup('<strong>Chaussée de Waterloo 255 - 1060 Saint-Gilles</strong>')
    });
</script>
</body>
</html>