<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Education Template - Meeting Detail Page</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../assets/css/style.ge.css">

<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header >
 
  </header>



<!-- SECTION INTRO QUI SOMMES-NOUS -->
<div class="container col-lg-12 mt-5 text-center">
  <div class="presentation1">
    <img class="col-lg-6 mt-5 img-fluid" src="../assets/images/presentation1.jpg" alt="Présentation de la MLSG">
  </div>
  <h2 class="mt-2 border-bottom p-3">Qui sommes-nous ?</h2>
  <p id="qui" class="mt-4 mb-5">
    Asbl d’insertion socioprofessionnelle, la Mission Locale pour l’emploi de Saint-Gilles est un opérateur agréé de formation et d’accompagnement les personnes sans emploi, avec une attention particulière pour les plus fragilisées.
  </p>
</div>

<!-- SECTION BOUTONS -->
<div class="container col-lg-12 mt-5 text-center">
  <div class="row justify-content-center flex-wrap gap-3">
    <div class="col-auto">
      <a href="#missions"><button class="btn">NOS MISSIONS, NOTRE MÉTHODE, NOS VALEURS</button></a>
    </div>
    <div class="col-auto">
      <a href="#equipe"><button class="btn">L’ÉQUIPE</button></a>
    </div>
    <div class="col-auto">
      <a href="#conseil"><button class="btn">LE CONSEIL D’ADMINISTRATION</button></a>
    </div>
    <div class="col-auto">
      <a href="#partenaires"><button class="btn">PARTENAIRES ADHÉSIONS</button></a>
    </div>
  </div>
</div>

<!-- SECTION MISSIONS -->
<div id="missions" class="container mt-5">
  <h2 class="border-bottom p-3 text-center">Nos missions, notre méthode, nos valeurs</h2>
  
  <div class="row align-items-center mt-2">
    <div class="col-lg-6 mb-lg-0 text-center">
      <img src="../assets/images/2-logo-02_3_.png" alt="Logo MLSG" class="img-fluid w-50 ">
    </div>
    <div class="col-lg-6 ">
      <p>
        Nos missions statutaires ancrent la MLSG dans le champ de l’insertion sociale et professionnelle et l’éducation permanente. Notre méthode suppose une approche globale et intégrée et le respect de règles de déontologies du travail social. Nos valeurs fondent notre action quotidienne.
    </div>
    <div id="box" class=" p-5 ">
      <h5> Nos statuts définissent notre objet social et nos missions </h5>
        <p> L’association a pour but de concevoir, développer, coordonner et évaluer toute initiative visant à améliorer l’insertion éducative, sociale, professionnelle, sportive et culturelle des personnes, par la mobilisation et l’articulation des ressources locales saint-gilloises, régionales, communautaires, fédérales et européennes.

        L’association a également pour but l’éducation permanente des adultes en milieu populaire avec une attention toute particulière pour le public local et régional le plus fragilisé - notamment telle qu’elle est définie dans l’article 1er du décret relatif au soutien de l’action associative dans le champs de l’Education permanente du 17 juillet 2003.
        
        Elle développe une approche intégrée de l’insertion en associant des partenaires communaux, du CPAS, des écoles, des entreprises, du mouvement associatif, de la santé, de la justice, de la prévention, de la formation, du logement, ... Elle peut accomplir tous les actes se rapportant indirectement ou directement à son but. Elle peut notamment prêter son concours et s’intéresser à toute activité similaire à son but.</p>

        <h5> Objet de l’association </h5>
        <p> 
          – La création, la mobilisation et l’animation de réseaux de partenaires locaux ;<br>
          – L’organisation des services et d’actions en matière d’accueil, de guidance, d’orientation, de formation, de recherche d’emploi, de prospection pour toute personne en demande d’insertion sociale et professionnelle avec une attention particulière pour le public fragilisé ;<br>
          – Le développement et le soutien d’initiative de développement local ;<br>
          – La mise en œuvre de tous les moyens nécessaires à la réalisation de ses objectifs d’éducation permanente...</p>

        <h5> Une approche globale, intégrée et respectueuse de la déontologie du travail social </h5>
        <p> – Toutes nos actions, collectives ou individuelles, tiennent compte des caractéristiques des individus et s’adaptent à leurs besoins.<br>

          – Nos services et projets sont complémentaires et doivent permettre aux personnes accueillies de franchir les différentes étapes d’une insertion durable vers un emploi de qualité.<br>
          
          – Notre travail se fonde sur une démarche volontaire des bénéficiaires.<br>
          
          – L’accueil se veut non discriminant (race, sexe, religions, opinions, etc.).<br>
          
          – Notre action vise la réussite accessible pour tous.<br>
          
          – Nous ne participons pas à toute action pouvant aboutir à une perte de droit pour nos bénéficiaires, entendu que le maintien des droits est la première étape visant une ré-insertion socioprofessionnelle. Toute information sur nos bénéficiaires transmise à nos organismes externes de contrôle se fait après accord de nos bénéficiaires.<br>
          
          – Le respect de la vie privée est assuré par notre équipe qui s’engage à n’user des informations que dans le cadre du secret professionnel partagé. Nos bénéficiaires peuvent consulter et avoir copie de leur dossier interne.</p>

          
    </div>
  </div>
</div>

<!-- SECTION ÉQUIPE -->
<div id="equipe" class="container mt-5">
  <h2 class="border-bottom p-3 text-center">L’équipe</h2>
  <p class="mt-3">
    Notre équipe est composée de 25 collaborateurs aux profils diversifiés : conseillers emploi, formateurs, chargés d’accompagnement et personnel administratif. Chacun contribue à créer un environnement de confiance et de développement.
  </p>
  <a class="btn" href="https://mlsg.be/presentation/l-equipe.html" >Clique pour en savoir plus </a>

</div>

<div id="partenaires" class="container mt-5">
  <h2 class="border-bottom p-3 text-center">Conseil d’administration</h2>
    <div id="box2"
      <p class="mt-3">
        <h5>Conseil d’administration </h5>
        <p>Présidente: Catherine François (Échevine de l’Emploi et de la formation, du Logement, de la Régie foncière de Saint-Giles - PS)
        Trésorier: Georgios MAGLIS (MR)
        Secrétaire: Florence Fraipont (Cenforgil ASBL)</p>
        <h5>Administrateur.rice.s </h5> 
        <p>Elsa Bailly (Commune de Saint-Gilles - Ecolo)
        Loïc Bretonnet (Commune de Saint-Gilles - PTB)
        Denis Jourdain (Commune de Saint-Gilles - Ecolo)
        François Lambert (Échevin de l’Action Sociale, Emploi, Prévention, Seniors, Nouvelles Technologies d’Uccle - Ecolo)
        Brieuc Laurent (Gammes ASBL)
        Kylie Le (Village Partenaire)
        Jean-Philippe Martin (Collectif Formation Société ASBL)
        Charles Spapens (Échevin du Développement Économique, Emploi, Économie sociale, Commerce, Revitalisation urbaine, Planification urbaine, Culture, Transition de l’administration, Informatique de Forest - PS)
        Laurence Roland (Centre de Formation-Insertion Le Grain, C.E.F.I.G. ASBL)</p>
        <h5>Membres </h5>
        <p>Nathalie David (Maison de Jeunes en Milieu Populaire - LA CITE DES JEUNES, MDJ)
        Farid Sihla (Saint-Gilles Sport, SGS ASBL)
        Assila Hassan (Centre interculturel de formation pour l’action (CIFA))</p>
        <h5>Bureau du Conseil d’administration </h5>
        <p>Présidente: Catherine François (Échevine de la Commune de Saint-Gilles - PS)
        Trésorier: Georgios MAGLIS (MR)
        Secrétaire: Florence Fraipont (Cenforgil ASBL)</p>
        <h5>Gestion journalière</h5>
        <p>Délégués à la gestion journalière: Samanta Dauvrain (Codirectrice) et Adrien Lenoble (Codirecteur)</p>
    </p>
  </div>
</div>

<!-- SECTION PARTENAIRES -->
<div id="partenaires" class="container mt-5">
  <h2 class="border-bottom p-3 text-center">Partenaires et adhésions</h2>
  <p class="mt-3">
    La MLSG collabore avec de nombreux partenaires locaux et régionaux tels que Actiris, Bruxelles Formation, et les CPAS. Ces collaborations renforcent notre impact et notre capacité d’action.
  </p>
</div>


  </body>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../assets/js/isotope.min.js"></script>
    <script src="../assets/js/owl-carousel.js"></script>
    <script src="../assets/js/lightbox.js"></script>
    <script src="../assets/js/tabs.js"></script>
    <script src="../assets/js/video.js"></script>
    <script src="../assets/js/slick-slider.js"></script>
    <script src="../assets/js/custom.js"></script>
    <script>


       
        $(document).ready(function () {
        $('#qui')
          .css({ display: 'block', opacity: 0, left: '-100%' })
          .animate({ left: '0%', opacity: 1 }, 800);
         });



        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>

</html>
