.btn{

   background-color: rgb(126, 44, 92);
   padding:30px;
   color: white;
}

.btn:hover{

   background-color: rgb(227, 0, 86);
   padding:30px;
   color: white;
}


.presentation1{
  border: rgb(227, 0, 86);
  
 }


 h5{
color: rgb(126, 44, 92);
 }

 h6{
   color: rgb(126, 44, 92);
    }
 h2{
   color: rgb(227, 0, 86);
    }


    #box{
   border: 1px solid rgb(126, 44, 92);
    }

   #accompagnement{
      color: rgb(0, 168, 159); 
   }